In [1]:
import pandas as pd 
import numpy as np
from pymongo import MongoClient

In [2]:
df = pd.read_csv('insurance_data.csv', sep = ';')
df.head()

,insuree#,gender,is45OrOlder,isMarried,hasKids,insuredMonths,termLifeInsurance,multipleTermLifePolicies,healthInsurance,healthRiders,premiumFrequency,eStatements,monthlyPremium,totalPremium,renewal
0,1,F,0.0,Yes,Yes,23,Yes,No,No,NaN,12.0,Yes,"19,65","451,55",Y
1,2,F,1.0,No,No,42,Yes,Yes,Class A,3,1.0,Yes,"84,65","3541,35",N
2,3,F,0.0,Yes,No,72,Yes,No,No,NaN,12.0,No,"19,4","1496,45",Y
3,4,F,0.0,Yes,Yes,13,Yes,No,No,NaN,12.0,No,"19,55","265,3",Y
4,5,F,0.0,No,No,37,Yes,Yes,Class A,"3,4",1.0,No,"100,3","3541,4",Y

In [3]:
df[df['is45OrOlder'].isnull()]

,insuree#,gender,is45OrOlder,isMarried,hasKids,insuredMonths,termLifeInsurance,multipleTermLifePolicies,healthInsurance,healthRiders,premiumFrequency,eStatements,monthlyPremium,totalPremium,renewal
68,69,M,NaN,Yes,No,32,Yes,Yes,Class A,"3,4",1.0,Yes,"104,9","3351,55",N
126,127,M,NaN,Yes,Yes,8,Yes,No,Class B,3,1.0,Yes,"54,4","475,1",Y
207,208,F,NaN,No,No,27,Yes,Yes,Class A,"3,4",1.0,Yes,"94,55","2724,6",N
217,218,F,NaN,No,No,4,No,no term life policy taken,Class B,1,1.0,No,35,"135,75",Y
223,224,M,NaN,No,No,12,Yes,Yes,Class A,"2,3,4",1.0,Yes,"112,95","1384,75",N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5378,5379,M,NaN,Yes,No,67,Yes,Yes,Class A,"2,3,4",3.0,No,"104,1","7040,85",N
5382,5383,F,NaN,Yes,Yes,5,Yes,Yes,No,NaN,1.0,Yes,"24,3","132,25",Y
5386,5387,F,NaN,No,No,11,No,no term life policy taken,Class B,3,1.0,Yes,"35,8","363,15",Y
5392,5393,M,NaN,No,No,72,Yes,Yes,Class A,"1,2,3,4",12.0,No,"113,8","7845,8",Y
5408,5409,F,NaN,No,No,4,No,no term life policy taken,Class B,"1,2",1.0,Yes,"33,65","137,85",N

In [4]:
df.describe(include = 'all')

,insuree#,gender,is45OrOlder,isMarried,hasKids,insuredMonths,termLifeInsurance,multipleTermLifePolicies,healthInsurance,healthRiders,premiumFrequency,eStatements,monthlyPremium,totalPremium,renewal
count,5500.000000,5387,5404.000000,5500,5500,5500.000000,5500,5500,5500,3518,5386.000000,5500,5500,5500,5500
unique,NaN,2,NaN,2,2,NaN,2,4,3,15,NaN,2,1524,5174,2
top,NaN,M,NaN,No,No,NaN,Yes,No,Class A,"3,4",NaN,Yes,"20,05","20,2",Y
freq,NaN,2719,NaN,2843,3857,NaN,4969,2654,2419,474,NaN,3225,49,10,4023
mean,2750.500000,NaN,0.162657,NaN,NaN,34.678909,NaN,NaN,NaN,NaN,4.086892,NaN,NaN,NaN,NaN
std,1587.857571,NaN,0.369087,NaN,NaN,42.225326,NaN,NaN,NaN,NaN,4.548742,NaN,NaN,NaN,NaN
min,1.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,1375.750000,NaN,0.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
50%,2750.500000,NaN,0.000000,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
75%,4125.250000,NaN,0.000000,NaN,NaN,56.000000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN
max,5500.000000,NaN,1.000000,NaN,NaN,720.000000,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,NaN

In [7]:
user_id = "fsayhan"
password = "HKTLazkcP7CCz838"
access_key = f"mongodb+srv://{user_id}:{password}@cluster0.eshsihu.mongodb.net/?retryWrites=true&w=majority"

def clean_data(df):
    def clean_is45orolder(x):
        if not np.isnan(x): #none null
            if x == 1.0:
                return True
            else:
                return False
        else:
            return x
    df_copy = df.copy()
    
    df_copy['is45OrOlder'] = df_copy['is45OrOlder'].apply(clean_is45orolder)
    df_copy['isMarried'] = df_copy['isMarried'].apply(lambda x: True if x == 'Yes' else False).astype(bool)
    df_copy['hasKids'] = df_copy['hasKids'].apply(lambda x: True if x == 'Yes' else False).astype(bool)
    df_copy['eStatements'] = df_copy['eStatements'].apply(lambda x: True if x == 'Yes' else False)
    df_copy['termLifeInsurance'] = df_copy['termLifeInsurance'].apply(lambda x: True if x == 'Yes' else False).astype(bool)
    df_copy['multipleTermLifePolicies'] = df_copy['multipleTermLifePolicies'].apply(lambda x: True if x == 'Yes' else False).astype(bool)
    df_copy['renewal'] = df_copy['renewal'].apply(lambda x: True if x == 'Yes' else False)

    df_copy['healthInsurance'] = df_copy['healthInsurance'].apply(lambda x: False if x == 'No' else True).astype(bool)
    
    df_copy['healthRiders'] = df_copy['healthRiders'].apply(lambda x: x.split(',') if type(x) == str else x)
    df_copy['healthRiders'] = df_copy['healthRiders'].apply(lambda x: list(map(lambda y: int(y), x)) if type(x) == list else [])
   
    df_copy['totalPremium'] = df_copy['totalPremium'].str.replace(' ', '0')
    df_copy['monthlyPremium'] = df_copy['monthlyPremium'].apply(lambda x: float(x.replace(",", ".")))
    df_copy['totalPremium'] = df_copy['totalPremium'].apply(lambda x: float(x.replace(",", ".")))
    
    return df_copy

def transform(df):
    """
    Does data cleaning and converts a dataframe to a list of dictionaries in the required format 
    Parameters
        ----------
        df: pd.DataFrame 
            df read from insurance_data.csv file
        Returns
        -------
        result : list 
            list of dictionaries, 1 dictionary is 1 record in the df
    """
    df_copy = clean_data(df)
    data_dict = df_copy.to_dict(orient = 'records')
    for data in data_dict:
        if type(data['gender']) != str:
            data['gender'] = None
        if type(data['is45OrOlder']) != bool:
            data['is45OrOlder'] = None
        if np.isnan(data['premiumFrequency']):
            data['premiumFrequency'] = None
        else:
            data['premiumFrequency'] = int(data['premiumFrequency'])
        if data['totalPremium'] == 0:
            data['totalPremium'] = None
            
        data['termLifeInsurance'] = {
            'hasPolicy': data['termLifeInsurance'],
            'hasMultiplePolicies': data['multipleTermLifePolicies']
        }
        data['healthInsurance'] = {
            'hasPolicy': data['healthInsurance'],
            'riders': data['healthRiders']
        }
        data.pop('healthRiders')
        data.pop('multipleTermLifePolicies')
    return data_dict    
    
def load(access_key, data_dict, collection):
    """
    Converts a dataframe to a list of dictionaries in the required format 
    Parameters
        ----------
        access_key: pd.DataFrame 
            access key required to connect to MongoDB 
        data_dict: list
            data to be uploaded to the MongoDB
        collection: string
            name of collection to upload files to 
        Returns
        -------
        sucess: Boolean
            returns whether the uploading of data was successful 
    """
    client = MongoClient(access_key)
    db_collection = client['Vica'][collection]
    try:
        if db_collection.count_documents({}) != 0:
            db_collection.delete_many({})
        res = db_collection.insert_many(data_dict)
    except:
        raise ValueError("An unexpected Error occured while uploading to collection")
    client.close()
    
def ETL(filepath, access_key, collection):
    """
    Reads the data from the csv, transforms it to the correct NoSQL format and upload to MongoDB
    Parameters
        ----------
        access_key: pd.DataFrame 
            access key required to connect to MongoDB 
        filepath: string
            filepath to load the csv file
        collection: string
            name of collection to upload files to
        Returns
        -------
        sucess: boolean
            returns whether the uploading of data was successful 
    """
    df = pd.read_csv(filepath, sep = ';')
    data_dict = transform(df)
    load(access_key, data_dict, collection)

def query_by_key_val(key, val, collection):
    """
    Allows searching of the database by any key value pairs 
    Parameters
        ----------
        key: string
            name of key to search in
            pass an empty string "" to return all documents in the collection
        val: list
            list of values to search for in key
        collection: string
            name of collection to upload files to
        Returns
        -------
        result: list
            returns value of the search query 
    """
    client = MongoClient(access_key)
    db = client['Vica']
    collection_names = db.list_collection_names()
    if collection not in collection_names:
        raise ValueError("Collection name not found inside database")
    result = []
    db_collection = db[collection]
    
    if key == "":
        result = list(db_collection.find({})) 
    else:
        for post in db_collection.find({key:{"$in":val}}):
            result.append(post)
    client.close()
    return result

In [9]:
ETL('insurance_data.csv', access_key, 'vica4')
query_by_key_val("insuree#", [1,], 'vica4')

[{'_id': ObjectId('631b93d9f1dcbdc0455f8e93'),
  'insuree#': 1,
  'gender': 'F',
  'is45OrOlder': False,
  'isMarried': True,
  'hasKids': True,
  'insuredMonths': 23,
  'termLifeInsurance': {'hasPolicy': True, 'hasMultiplePolicies': False},
  'healthInsurance': {'hasPolicy': False, 'riders': []},
  'premiumFrequency': 12,
  'eStatements': True,
  'monthlyPremium': 19.65,
  'totalPremium': 451.55,
  'renewal': False}]